/*
 Name:Sarthak Bhagat
email: Sarthak_bhagat@student.uml.edu
Course name: GUI I
Assingment #5- Creating an Interactive Dynamic Table
File type: .css file
Sources used: https://www.w3schools.com
*/

/* the following center aligns the texts on the page */
ul {
  display: inline-block;
  text-align: left;
}

/* this is used to style the form  */
form {
  background-image: linear-gradient(to bottom right, #000000, #000000);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 30px;
  border-radius: 20px;
  font-weight: bold;
  margin-top: 15px;
}


h3 {
  color: red;
}

table {
  background-color: black;
}

tr {
  color: green;
}

th {
  color: red;
}

/*Colors the boxes in form to light grey*/
#mic, #mar, #mir, #mac {
  background-color: #D3D3D3;
}

body {
  background-color: black;
}

html {
  scroll-behavior: smooth;
}
